<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <h2>{{recipe.name | uppercase}} Details</h2>
        <div>
          <label>name:
            <input [(ngModel)]="recipe.name" placeholder="name"/>
          </label>
        </div>
      </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>INGREDIENTS (6 piece)</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>  
        <p>INGREDIENTS (6 piece)</p>
        <p>3 Eggs</p>
        <p>70ml Water</p>
        <p>1/2tsp Dashi Stock Extract</p>
        <p>1tsp Sugar</p>
        <p>1/8tsp Salt</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
        <canvas #barCanvas></canvas>
    </ion-card>
    <ion-button (click)="additem()">Add item to chart</ion-button>
</ion-content>
