<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-title>Location</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>  
          <p>Address: 31 Mains Rd, Sunnybank QLD 4109</p>
          <p>Located in: Sunny Park Shopping Centre</p>
          <p>Phone: (07) 3344 2682</p>
        </ion-card-content>
        <h2>{{store.name}} Details</h2>
      </ion-card>
          <h2>{{store.name | uppercase}} Details</h2>
          <div><span>id: </span>{{store.id}}</div>
          <div>
            <label>name:
              <input [(ngModel)]="store.name" placeholder="name"/>
            </label>
          </div>
</ion-content>