<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
    <ion-item>
      <ion-label>Name: Eric Au</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mail: hiulok.au@griffithuni.edu.au</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Address:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Map</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
