<ion-header>
  <ion-toolbar>
    <ion-title>
      Meal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="recipe-card">
    <ion-img src="/assets/recipe.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Get a new recipe</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>In here, you are going to find a new recipe which you might never image.</p>
      <ion-button shape="round" fill="outline" routerLink="/recipe">Start here!</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card class="store-card">
    <ion-img src="/assets/store.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Find a restaurant</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>For something did not stay at home, hope that you can find a wondelful dinner.</p>
      <ion-button shape="round" fill="outline" routerLink="/store">Start here!</ion-button>
    </ion-card-content>
  </ion-card>  
</ion-content>
